<html lang="en">
<head>
    <title>Consola</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen"/>
</head>
<body>
<pre id="log"></pre>
<div id="toolbar">
    <ul id="status">
        <li><span id="socketStatus">Escribi un comando: *Probados:[ls-free-host-netstat-touch]</span></li>
    </ul>
    <input tabindex="1" type="text" id="entry"/>
    <button id="enviar">Enviar!</button>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>